@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>@App._GlobalAppName</h1>
</div>

<div class="row">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel slide" id="carousel-552673">
                <ol class="carousel-indicators">
                    <li data-slide-to="0" data-target="#carousel-552673">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-552673">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-552673" class="active">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <img alt="" src="../../Content/Images/Slider/1.jpg">
                        <div class="carousel-caption">
                            <h4></h4>
                            <p>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="../../Content/Images/Slider/2.jpg" ">
						<div class=" carousel-caption">
                        <h4></h4>
                        <p>
                        </p>
                    </div>
                </div>
                <div class="item active">
                    <img alt="" src="../../Content/Images/Slider/3.jpg" ">
						<div class=" carousel-caption">
                    <h4></h4>
                    <p>
                    </p>
                </div>
            </div>
        </div> <a class="left carousel-control" href="#carousel-552673" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-552673" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
	</div>
</div>